<div class="donateContainer">
    <div>如果文章对您有用请随意打赏，谢谢支持！</div>
    <span id="donate" class="donate" onclick="donate()">打赏</span>
    <div id="QR" style="display: none;">

        <div id="alipay" style="display: inline-block">
            <a href="http://kiritor.github.io/img/weixin.jpg" class="fancybox fancybox.image" rel="group">
                <img id="alipay_qr" src="http://kiritor.github.io/img/weixin.JPG">
            </a>

        </div>
        <div id="wechat" style="display: inline-block">
            <a href="http://kiritor.github.io/img/zhifubao.jpg" class="fancybox fancybox.image" rel="group">
                <img id="wechat_qr" src="http://kiritor.github.io/img/zhifubao.JPG">
            </a>

        </div>
    </div>
    <script>
        function donate() {
            var qr = document.getElementById('QR');
            if (qr.style.display === 'none') {
                qr.style.display = 'block';
            } else {
                qr.style.display = 'none'
            }

        };
    </script>
</div>