<div id="socialShare" style="margin-left:40px;display:none;">
</div>
<script>
    $(function () {
        var width = document.body.scrollWidth;
        if (width > 550) {
            $("#socialShare").css("display", "block");
            $("#socialShare").socialShare({
                content: 'Nice!不错的资源...',
                url: window.location.href,
                titile: '<%post.title%>'
            });
        }
    });
</script>