       .donateContainer {
            margin: 20px auto;
            width: 90%;
            text-align: center;
        }
        .donate {
            cursor: pointer;
            margin-top: 16px;
            width: 80px;
            height: 35px;
            line-height: 35px;
            border-radius: 5px;
            border: none;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-family: "Microsoft Yahei";
            background: #f44336;
        }
        #QR {
            padding-top: 20px;
        }
        #QR img {
            width: 180px;
            max-width: 100%;
            display: inline-block;
            margin: 0.8em 2em 0 2em;
        }