@charset "utf-8";
.gitment-editor-avatar-img {
    border-radius: 50%;
}

.gitment-editor-avatar-img:hover{
    -webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

.gitment-comments-empty {
    margin: 20px 0;
}

.gitment-editor-footer-tip {
    display: none;
}

.gitment-footer-container {
	display: none;
}

.gitment-editor-submit {
    padding: 6px 12px;
	border-raduis: 2px;
	line-height: 18px;
}