.share {
	padding: 15px 75px 30px 40px;
	background-color: #fff;
	margin-bottom: 15px;
}
.back_home{
	float: right;
}
.back_home a{
	font-weight: bold;
	margin-left: 10px;
}
.back_home a:hover{
	color: #6e6e6e;
}