    .toc-button {
        position:fixed;
        top:40%;
        right:10px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        height: 30px;
        background-color:#C3C3FF;
        width: 30px;
        text-align:right;
        padding-right:6px;
        line-height:30px;
        color:#ffffff;
        font-size:12px;
        font-family:'Micosoft YaHei';
        z-index: 9999;
        cursor:pointer;
    }

    .toc-article {
        background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
        padding: 1em;
		/*border:1px solid #eee;*/
        position: fixed;
        top:24%;
        right:60px;
        width:100px;
		font-size:14px;
		color:#000000;

    }
    .toc-article .toc-title {
        padding-bottom: 0.4em;
		padding-top:0.4em;
        font-weight: bold;
		vertical-align:middle;
    }
	.toc-article .toc-title:hover {
	    color:#fac22b;
		background-color:#f8f6f6;
	}
    #toc {
        line-height: 1.1em;
        font-size:12px;
        float: right;
		z-index:9999;
		min-width:200px;

    }
    #toc .toc {
        padding: 0
    }
    #toc li,
    .toc li {
        list-style-type: none;
		padding-top:3px;
		padding-bottom:3px;
		vertical-align:middle;
    }
	.toc li a:hover {
	    /*background-color:#fac22b;*/
	}
    #toc ol {
        margin: 0;
    }
    #toc .toc-child {
        padding-left: 1.5em
    }
	#toc .toc-text {
	    color:#4CA0E4;
	}
    #toc .toc-text:hover {
	    color:#fac22b;
	}
